<div class="jumbotron top__image">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="jumbotron top__image_lighter">
        <h1>タイトル(未定)</h1>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form__box">
            <div class="form-group">
              <%= f.label :email, User.human_attribute_name(:email) %>
              <%= f.email_field :email, autofocus: true, autocomplete: 'email',
                                        placeholder: User.human_attribute_name(:email),
                                        class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :password, User.human_attribute_name(:password) %>
              <%= f.password_field :password, autocomplete: 'off',
                                              placeholder: User.human_attribute_name(:password),
                                              class: 'form-control' %>
            </div>

            <div class="form-check form__right">
              <% if devise_mapping.rememberable? -%>
                <%= f.label :remember_me, class: 'form-check-label' do %>
                  <%= f.check_box :remember_me, class: 'form__checkbox' %>
                  <span><%= t('common.remember_me') %></span>
                <%- end -%>
              <%- end -%>

            </div>
            <div class="form__submit">
              <%= f.submit t('common.login') , class: 'btn btn-dark badge-pill btn-lg btn-block' %>
            </div>
          <%- end -%>
        </div>

        <div class="form__right">
          <%= link_to t('common.forgot_password'), new_user_password_path %>
       </div>
      </div>
    </div>
  </div>
</div>
